<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="myConsole" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<!-- <param name="ConversionPattern" value="[%d{yyyy/MM/dd HH:mm:ss,SSS\} 
				%-5p] [%t] %c{2\} - %m%n" /> -->
			<param name="ConversionPattern" value="[%d{yyyy/MM/dd HH:mm:ss,SSS\} %-5p] %c-%L - %m%n" />
		</layout>
		<!--过滤器设置输出的级别 -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="debug" />
			<param name="levelMax" value="warn" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="myFile" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="d:/output.log" /><!-- 设置日志输出文件名 -->
		<!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
		<param name="Append" value="true" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<!-- <param name="ConversionPattern" value="%p (%c:%L)- %m%n" /> -->
			<param name="ConversionPattern" value="%p" />
		</layout>
	</appender>

	<appender name="activexAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="d:/activex.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{MMdd HH:mm:ss SSS\} %-5p] [%t] %c{3\} - %m%n" />
		</layout>
	</appender>
	
	<category name="org.jasig.cas">
		<priority value="ERROR" />
		<appender-ref ref="myConsole" />
	</category>
	<category name="org.hibernate">
		<priority value="ERROR" />
		<appender-ref ref="myConsole" />
	</category>
	<category name="org.b3mn.poem">
		<priority value="ERROR" />
		<appender-ref ref="myConsole" />
	</category>
	
	

	<!-- 根logger的设置 -->
	<root>
		<priority value="DEBUG" />
		<appender-ref ref="myConsole" />
	</root>
</log4j:configuration>